/* .artists {

    /* background-color: #007bff; */
    /* border: 10px solid white;
    /* margin-top: 100px; */
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    /* font-size: 16px; */
    /* border-radius: 25px; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);



/* .artists:hover {
    background-color: blue;
    border: 10px solid black;

    cursor: pointer;
} */

/* .albums { */

    /* background-color: #007bff; */
    /* border: 10px solid white; */
    /* margin-top: 200px; */
    /* color: #ffffff;
    border: none;
    padding: 12px 24px;
    /* font-size: 16px; */
    /* border-radius: 25px; */
    /* box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25); */ 



/* } */

/* .albums:hover {
    background-color: blue;
    border: 10px solid black;

    cursor: pointer;
} */

.songs {

    
    color: #ffffff; 
    border: none;
    padding: 12px 24px;
    /* font-size: 16px; */
    /* border-radius: 25px; */
    border-color: black;
    /* border-top: 10px; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);



}
.art1 {

   
    border: none;
   
    font-size: 16px;
   
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.art1:hover {
    /* background-color: blue;
    border: 10px solid white; */

    cursor: pointer;
}
.art2 {

    background-color: #007bff; 
    border: 10px solid white;
     /* margin-top: 100px;  */
    color: #ffffff;
    border: none;
    padding: 150px 310px;
    font-size: 16px;
    /* border-radius: 25px; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.art2:hover {
    background-color: b;
    border: 10px solid rgb(196, 174, 174);

    cursor: pointer;
}
.art3 {

    background-color: #007bff; 
    border: 10px solid white;
     /* margin-top: 100px;  */
    color: #ffffff;
    border: none;
    padding: 150px 310px;
    font-size: 16px;
    /* border-radius: 25px; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.art3:hover {
    background-color: blue;
    border: 10px solid white;

    cursor: pointer;
}
.art4 {

    background-color: #007bff; 
    border: 10px solid white;
     /* margin-top: 100px;  */
    color: #ffffff;
    border: none;
    padding: 12px 320px;
    font-size: 16px;
    /* border-radius: 25px; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.art4:hover {
    background-color: blue;
    border: 10px solid white;

    cursor: pointer;
}
.art5 {

    background-color: #007bff; 
    border: 10px solid white;
     /* margin-top: 100px;  */
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    /* border-radius: 25px; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.art5:hover {
    background-color: blue;
    border: 10px solid white;

    cursor: pointer;
}


.album1 {

    background-color: #007bff; 
    border: 10px solid white;
     /* margin-top: 100px;  */
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    /* border-radius: 25px; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.album1:hover {
    background-color: blue;
    border: 10px solid white;

    cursor: pointer;
}
.album2 {

    background-color: #007bff; 
    border: 10px solid white;
     /* margin-top: 100px;  */
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    /* border-radius: 25px; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.album2:hover {
    background-color: blue;
    border: 10px solid white;

    cursor: pointer;
}
.album3 {

    background-color: #007bff; 
    border: 10px solid white;
     /* margin-top: 100px;  */
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    /* border-radius: 25px; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.album3:hover {
    background-color: blue;
    border: 10px solid white;

    cursor: pointer;
}
.album4 {

    background-color: #007bff; 
    border: 10px solid white;
     /* margin-top: 100px;  */
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    /* border-radius: 25px; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.album4:hover {
    background-color: blue;
    border: 10px solid white;

    cursor: pointer;
}
.album5 {

    background-color: #007bff; 
    border: 10px solid white;
     /* margin-top: 100px;  */
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    /* border-radius: 25px; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.album5:hover {
    background-color: blue;
    border: 10px solid white;

    cursor: pointer;
}

.song1 {

    background-color: #007bff; 
    border: 10px solid white;
     /* margin-top: 100px;  */
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    /* border-radius: 25px; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.song1:hover {
    background-color: blue;
    border: 10px solid white;

    cursor: pointer;
}
.song2 {

    background-color: #007bff; 
    border: 10px solid white;
     /* margin-top: 100px;  */
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    /* border-radius: 25px; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.song2:hover {
    background-color: blue;
    border: 10px solid white;

    cursor: pointer;
}
.song3 {

    background-color: #007bff; 
    border: 10px solid white;
     /* margin-top: 100px;  */
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    /* border-radius: 25px; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.song3:hover {
    background-color: blue;
    border: 10px solid white;

    cursor: pointer;
}
.song4 {

    background-color: #007bff; 
    border: 10px solid white;
     /* margin-top: 100px;  */
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    /* border-radius: 25px; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.song4:hover {
    background-color: blue;
    border: 10px solid white;

    cursor: pointer;
}
.song5 {

    background-color: #007bff; 
    border: 10px solid white;
     /* margin-top: 100px;  */
    color: #ffffff;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    /* border-radius: 25px; */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);

}

.song5:hover {
    background-color: blue;
    border: 10px solid white;

    cursor: pointer;
}
.artp{
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 200px;
	/* background-color: lightgray; */
}
.artk{
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 200px;
	/* background-color: lightgray; */
}

.albump{
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 200px;
	/* background-color: lightgray; */
}
.songp{
    display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	height: 200px;
	/* background-color: lightgray; */
}
.row1 {
    display: flex; /* create a flex container */
  }
  
  .column1 {
    flex: 1; /* make the columns equal width */
    text-align: center; /* center align the text */
  }
  
  .column1 img {
    width: 100%; /* make the image fill the column */
    height: auto; /* maintain the aspect ratio of the image */
  }
  
  .column1 p {
    margin-top: 10px; /* add some margin to the top of the text */
  }
  

  .resized-image {
    max-width: 100%; /* set the maximum width of the image */
    height: auto; /* maintain the aspect ratio of the image */
  } */