.button-with-image {
    display: flex;
    /* display the button as an inline-block element */
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    /* add some padding to the button */
}

.button-with-image img {
 
  margin-right: 10px;
}

.container {
    display: flex; /* use flexbox layout */
  }
  .circle-image {
    border-radius: 50%; /* set the border-radius property to 50% to create a circle */
  }
  